<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/search-style.css">
    <title>FBI Most Wanted Search Results</title>
</head>
<body>
    <h1>FBI Most Wanted Search Results</h1>
    <div class="grid-container">
        <% if (results && results.length > 0) { %>
            <% results.forEach((result) => { %>
                <div class="grid-item">
                    <img src="<%= result.images[0].original %>" class="img-small">
                    <a href="<%= result.url %>"><%= result.title %></a>
                    <p><%= result.description %></p>
                </div>
            <% }); %>
        <% } else { %>
            <div>No search results found.</div>
        <% } %>
    </div>
</body>
</html>
