<!DOCTYPE html>
<html>
<head>
    <title>FBI Most Wanted Search Results</title>
</head>
<body>
    <h1>FBI Most Wanted Search Results</h1>
    <ul>
        <% if (results && results.length > 0) { %>
            <% results.forEach((result) => { %>
                <li>
                    <a href="<%= result.url %>"><%= result.name %></a>
                </li>
            <% }); %>
        <% } else { %>
            <li>No search results found.</li>
        <% } %>
    </ul>
</body>
</html>
